body {
  background-color: black;
  color: white;
  font-family: Arial;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav {
  list-style-type: none;
  width: 500;
  display: flex;
  justify-content: space-evenly;
}

.home {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
